<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div class="hasTooltip ">Hover me to see a tooltip</div>
<div class="hidden qtip-shadow"> <!-- This class should hide the element, change it if needed -->
    <p><b>Complex HTML</b> for your tooltip <i>here</i>!</p>
</div>

<p id="contents-button" data-hasqtip="button" aria-describedby="qtip-button"><span>Close buttons</span></p>

<div class="qtip-tip" style="background-color: transparent !important; border: 0px !important; width: 8px; height: 8px; line-height: 8px; left: -1px; top: -8px;"><canvas width="16" height="16" style="background-color: transparent !important; border: 0px !important; width: 8px; height: 8px;"></canvas></div>
<div class="qtip-content" id="qtip-click-content" aria-atomic="true">I can only be shown and hidden by clicking my target element</div>
<p id="showhide-click" class="clickable" data-hasqtip="click" aria-describedby="qtip-click"><span>Click (and click again!)</span>view source</p>