<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>



<div>
  <!-- Element with a tooltip -->
  <a href="#" id="my-link" data-tooltip="Click me for a tooltip">Click me</a>
</div>

<script>
  $(document).ready(function() {
    // Initialize qTip tooltip
    $('#my-link').qtip({
      content: {
        text: 'This is a qTip tooltip!',
        title: {
          text: 'Tooltip Title',
          button: true // Show close button
        }
      },
      position: {
        my: 'top center',
        at: 'bottom right',
        target: $('#my-link') // Position relative to the element
      },
      style: {
        classes: 'qtip-bootstrap', // Apply Bootstrap-like style
        tip: {
          corner: true // Show the tip
        }
      }
    });
  });
</script>